<h1><font color='black'>Semi & anti joins</font></h1>

<br>

<ul>
    <li><b><code>Semi join</code></b> - Allows primary table to be subsetted by values appearing in joined table.</li>
    <br>
    <li><b><code>Anti join</code></b> - Allows primary table to be subsetted by values <u>not appearing</u> in joined table..</li>
</ul>

<br>

In [27]:
# libraries
import pandas as pd
import numpy as np

# import
def csv_to_df(file_path):
    df = pd.read_csv(file_path)
    return df

# data
jrny = csv_to_df('Data\data_journey.csv')
dev = csv_to_df('Data\data_device.csv')
desk = dev[dev['device_type']=='Desktop']

# jrny
jrny.head()

      session_id  account_login  basket_page  checkout_page  order_placed
0  ad22f37f-3090              0            0              0             0
1  dec34cea-8172              0            0              0             0
2  532c96bd-5036              1            0              0             0
3  5c503911-6193              0            0              0             0
4  a36043e6-3259              1            0              0             0

<hr>

<br>

<h2>Semi join</h2>

<h3><font color='grey'>Filtering for values that appear in joined table</font></h3>

<br>

<ul>
    <li><b><code>jd_inner</code></b> - A table of desktop users. The result of an inner join of tables <code>jrny</code> and <code>desk</code>.</li>
    <br>
    <li><b><code>jd_filt</code></b> - A version of the original table <code>jrny</code> that has been subsetted for dektop users by applying subset criteria of <code>jrny['session_id'].isin(jd_inner['session_id']</code>.</li>
</ul>

<br>

In [14]:
# filter criteria
jd_inner = jrny.merge(desk, on='session_id', how='inner')

# subset
jd_filt = jrny[jrny['session_id'].isin(jd_inner['session_id'])]

# show
jd_filt.head()

       session_id  account_login  basket_page  checkout_page  order_placed
0   ad22f37f-3090              0            0              0             0
10  fca2239f-5308              0            1              0             0
38  60cf4a7f-1066              1            0              0             0
63  91d5cdde-4196              0            0              0             0
65  447fefda-3199              0            0              0             0

<hr>

<br>

<h2>Anti join</h2>

<h3><font color='grey'>Filtering for values that <u>do not</u> appear in joined table</font></h3>

<br>

<ul>
    <li><b><code>jd_left</code></b> - A left join of tables <code>jrny</code> and <code>desk</code>. Setting <code>indicator=True</code> reveals the <code>_merge</code> field used identify which ids appear in which tables.</li>
    <br>
    <li><b><code>ids</code></b> - A list of <code>session_id</code> that are non-desktop users. <code>jd_left['_merge']</code> is subsetted for <code>left_only</code> ids, resulting in the ids that do not appear in <code>desk</code> and are, therefore, non-desktop users.</li>
    <br>
    <li><b><code>non-desk</code></b> - A version of the original table <code>jrny</code> that has been subsetted for non-dektop users by applying <code>jrny['session_id'].isin(ids)</code>.</li>
</ul>

<br>

In [22]:
# left join
jd_left = jrny.merge(desk, on='session_id', how='left', indicator=True)

# subset for ids in left only
ids = jd_left.loc[jd_left['_merge']=='left_only', 'session_id']

# subset
non_desk = jrny[jrny['session_id'].isin(ids)]
print('Non desktop users: ' + str(non_desk.shape[0]))
non_desk.head()

Non desktop users: 9087

      session_id  account_login  basket_page  checkout_page  order_placed
1  dec34cea-8172              0            0              0             0
2  532c96bd-5036              1            0              0             0
3  5c503911-6193              0            0              0             0
4  a36043e6-3259              1            0              0             0
5  d0944542-1230              0            1              0             0